HelloClang/Debug/HelloClang.ilk
HelloClang/Debug/HelloClang.log
HelloClang/Debug/HelloClang.exe
HelloClang/Debug/HelloClang.obj
HelloClang/Debug/HelloClang.pch
HelloClang/Debug/HelloClang.pdb
HelloClang/Debug/stdafx.obj
HelloClang/Debug/vc141.idb
HelloClang/Debug/vc141.pdb
HelloMinGW-w64Cmake/CodeDB/HelloMinGW-w64Cmake.vgdbcmake-Debug/codedb.lck
HelloMinGW-w64Cmake/CodeDB/HelloMinGW-w64Cmake.vgdbcmake-Debug/GlobalFileTable.000
HelloMinGW-w64Cmake/CodeDB/HelloMinGW-w64Cmake.vgdbcmake-Debug/GlobalFileTable.001
HelloMinGW-w64Cmake/VisualGDBCache/HelloMinGW-w64Cmake/ImplicitCompilerFlags.xml
HelloClang/.vs/HelloClang/v15/.suo
HelloClang/.vs/HelloClang/v15/ipch/a3d48680e7d5846.ipch
HelloClang/Debug/HelloClang.tlog/CL.command.1.tlog
HelloClang/Debug/HelloClang.tlog/CL.read.1.tlog
HelloMinGW-w64Cmake/.vs/HelloMinGW-w64Cmake/v15/.suo
HelloClang/Debug/HelloClang.tlog/link.write.1.tlog
HelloClang/Debug/HelloClang.tlog/link.read.1.tlog
HelloClang/Debug/HelloClang.tlog/link.command.1.tlog
HelloClang/Debug/HelloClang.tlog/HelloClang.lastbuildstate
HelloClang/Debug/HelloClang.tlog/CL.write.1.tlog
